@model ORM.DC_Maestros.Country

@{
    ViewBag.Title = @Localization.es_DO.Actions_Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localization.es_DO.Actions_Delete</h2>

<h3>@Localization.es_DO.Actions_DeleteConfirmation</h3>
<div>
    <h4>@Localization.es_DO.Country</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEntered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEntered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedToUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedToUserId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Localization.es_DO.Actions_Delete" class="btn btn-default" /> |
            @Html.ActionLink(@Localization.es_DO.Actions_BackToList, "Index")
        </div>
    }
</div>
