@model IEnumerable<ORM.DC_Maestros.SubSector>

@{
    ViewBag.Title = @Localization.es_DO.Subsectors;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localization.es_DO.Subsectors</h2>

<p>
    @Html.ActionLink(@Localization.es_DO.Actions_Create, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubSectorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedToUserId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Sectors", new { id = @item.SubSectorId })">@item.SubSectorName</a>
            </td>
            <td>@item.DateModified</td>
            <td>@item.AssignedToUserId</td>
            <td>
                @Html.ActionLink(@Localization.es_DO.Actions_Edit, "Edit", new { id = item.SubSectorId }) |
                @Html.ActionLink(@Localization.es_DO.Actions_Delete, "Delete", new { id = item.SubSectorId })
            </td>
        </tr>
    }

</table>
